make_blueprint.json
{
  "name": "PLTO — Lead Notifications",
  "flow": [
    {
      "id": 1,
      "module": "gateway:CustomWebHook",
      "version": 1,
      "parameters": {
        "hook": 1,
        "maxResults": 1
      },
      "mapper": {},
      "metadata": {
        "designer": { "x": -400, "y": 0 },
        "restore": {
          "parameters": {
            "hook": { "label": "PLTO Webhook" }
          }
        }
      }
    },
    {
      "id": 2,
      "module": "builtin:BasicRouter",
      "version": 1,
      "parameters": {},
      "mapper": {},
      "metadata": {
        "designer": { "x": -100, "y": 0 }
      },
      "routes": [
        {
          "flow": [
            {
              "id": 3,
              "module": "gmail:ActionSendEmail",
              "version": 1,
              "parameters": {
                "account": "YOUR_GMAIL_CONNECTION_ID"
              },
              "filter": {
                "name": "ליד חדש",
                "conditions": [
                  [{ "a": "{{1.event}}", "b": "lead.created", "o": "text:equal" }]
                ]
              },
              "mapper": {
                "to": "info@plto.app",
                "subject": "🆕 ליד חדש: {{1.lead_name}}",
                "content": "<div dir='rtl' style='font-family:sans-serif;'><h2>ליד חדש נכנס!</h2><table><tr><td><b>שם:</b></td><td>{{1.lead_name}}</td></tr><tr><td><b>טלפון:</b></td><td>{{1.lead_phone}}</td></tr><tr><td><b>מקור:</b></td><td>{{1.source}}</td></tr><tr><td><b>תקציב:</b></td><td>{{1.budget}}</td></tr><tr><td><b>אזור:</b></td><td>{{1.area}}</td></tr></table><p>{{1.message}}</p></div>",
                "type": "html"
              },
              "metadata": {
                "designer": { "x": 200, "y": -150 }
              }
            }
          ]
        },
        {
          "flow": [
            {
              "id": 4,
              "module": "gmail:ActionSendEmail",
              "version": 1,
              "parameters": {
                "account": "YOUR_GMAIL_CONNECTION_ID"
              },
              "filter": {
                "name": "עסקה נסגרה",
                "conditions": [
                  [{ "a": "{{1.event}}", "b": "deal.closed", "o": "text:equal" }]
                ]
              },
              "mapper": {
                "to": "info@plto.app",
                "subject": "🎉 עסקה נסגרה: {{1.lead_name}}",
                "content": "<div dir='rtl' style='font-family:sans-serif;'><h2>🎉 עסקה נסגרה!</h2><p><b>{{1.lead_name}}</b> עבר לשלב סגירה.</p><p>{{1.message}}</p></div>",
                "type": "html"
              },
              "metadata": {
                "designer": { "x": 200, "y": 0 }
              }
            }
          ]
        },
        {
          "flow": [
            {
              "id": 5,
              "module": "gmail:ActionSendEmail",
              "version": 1,
              "parameters": {
                "account": "YOUR_GMAIL_CONNECTION_ID"
              },
              "filter": {
                "name": "שינוי שלב",
                "conditions": [
                  [{ "a": "{{1.event}}", "b": "lead.stage_changed", "o": "text:equal" }]
                ]
              },
              "mapper": {
                "to": "info@plto.app",
                "subject": "🔄 עדכון ליד: {{1.lead_name}}",
                "content": "<div dir='rtl' style='font-family:sans-serif;'><h2>שינוי שלב</h2><p><b>{{1.lead_name}}</b> עבר מ-<b>{{1.from_stage}}</b> ל-<b>{{1.to_stage}}</b></p></div>",
                "type": "html"
              },
              "metadata": {
                "designer": { "x": 200, "y": 150 }
              }
            }
          ]
        },
        {
          "flow": [
            {
              "id": 6,
              "module": "gmail:ActionSendEmail",
              "version": 1,
              "parameters": {
                "account": "YOUR_GMAIL_CONNECTION_ID"
              },
              "filter": {
                "name": "Document Sent to Homeowner",
                "conditions": [
                  [{ "a": "{{1.event}}", "b": "document.sent", "o": "text:equal" }]
                ]
              },
              "mapper": {
                "to": "{{1.lead_email}}",
                "subject": "📄 Your Document Is Ready: {{1.doc_name}}",
                "content": "<div style='font-family:Arial,sans-serif;max-width:560px;margin:0 auto;background:#fff;border-radius:16px;overflow:hidden;'><div style='background:linear-gradient(135deg,#0F1F3D,#2563EB);padding:36px 32px;text-align:center;'><div style='font-size:40px;'>📄</div><h1 style='color:#fff;font-size:22px;margin:12px 0 4px;'>Your Document Is Ready</h1><p style='color:#C8DDEF;margin:0;font-size:14px;'>{{1.doc_name}}</p></div><div style='padding:32px;background:#F8FAFF;'><p style='font-size:16px;color:#374151;margin:0 0 16px;'>Hi {{1.lead_name}},</p><p style='font-size:15px;color:#374151;line-height:1.7;margin:0 0 20px;'>{{1.message}}</p><div style='background:#fff;border:1px solid #E2E8F0;border-radius:10px;padding:20px;margin:20px 0;'><p style='color:#6B7280;font-size:12px;font-weight:700;text-transform:uppercase;letter-spacing:1px;margin:0 0 8px;'>Document</p><p style='margin:0;font-size:15px;color:#1F2937;font-weight:600;'>{{1.doc_name}}</p></div><div style='text-align:center;margin:28px 0;'><a href='{{1.doc_url}}' style='background:#2563EB;color:#fff;padding:14px 36px;border-radius:10px;text-decoration:none;font-size:16px;font-weight:bold;display:inline-block;'>View Document →</a></div><p style='color:#9CA3AF;font-size:13px;'>If the button does not work, copy and paste this link:<br><span style='color:#2563EB;word-break:break-all;'>{{1.doc_url}}</span></p></div><div style='padding:16px 32px;background:#F1F5F9;border-top:1px solid #E2E8F0;text-align:center;'><p style='color:#9CA3AF;font-size:12px;margin:0;'>Sent by {{1.agent_name}} — {{1.tenant}}</p></div></div>",
                "type": "html"
              },
              "metadata": {
                "designer": { "x": 200, "y": 300 }
              }
            }
          ]
        }
      ]
    }
  ],
  "metadata": {
    "instant": true,
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxErrors": 3,
      "autoCommit": true,
      "autoCommitTriggerLast": true,
      "sequential": false,
      "confidential": false,
      "dataloss": false,
      "dlq": false,
      "freshVariables": false
    },
    "designer": {
      "orphans": []
    },
    "zone": "eu2.make.com"
  }
}
